<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <title>Task Planner</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div style="position: absolute; top: 10px; right: 10px;">
    <div>
        👤 {{ username }}
        <a href="/logout">Logout</a>
    </div>
  </div>

  <h1>Taskplaner</h1>

  <button id="openModalBtn">Create New Task</button>

  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <h2>Create Task</h2>
      <form id="taskForm">
          <label for="titel">Titel: </label>
          <input type="text" id="titel" required />

          <label for="beginn">Beginn: </label>
          <input type="datetime-local" id="beginn" required />

          <label for="ende">Ende: </label>
          <input type="datetime-local" id="ende"/>

          <label for="ort">Ort: </label>
          <input type="text" id="ort"/>
          
          <label for="koordinaten">Koordinaten: </label>
          <input type="text" id="koordinaten"/>
          
          <label for="notiz">Notizen: </label>
          <textarea id="notiz"></textarea>
          
          <label for="kategorie_id">Kategorie: </label>
          <select id="kategorie_id" name="kategorie_id" required>
            {% for k in kategorien %}
              <option value="{{ k.KategorieID }}">{{ k.Kategorie }}</option>
            {% endfor %}
          </select><br>
          
          <label for="prioritaet_id">Priorität: </label>
          <select id="prioritaet_id" name="prioritaet_id" required>
            {% for p in prioritaeten %}
              <option value="{{ p.PrioritaetID }}">{{ p.Prioritaet }}</option>
            {% endfor %}
          </select><br>
          
          <label for="fortschritt_id">Fortschritt: </label>
          <select id="fortschritt_id" name="fortschritt_id" required>
            {% for f in fortschritte %}
              <option value="{{ f.FortschrittID }}">{{ f.Fortschritt }}</option>
            {% endfor %}
          </select><br><br>
          
          
          <button type="submit">Create Task</button>
          <button type="button" id="cancelButton" style="display: none;">Cancel Editing</button>
      </form>
    </div>
  </div>

  <h2>All Existing Tasks</h2>
  <ul id="taskList"></ul>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
