<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Login</h1>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }} {{ form.username() }}</p>
        <p>{{ form.password.label }} {{ form.password() }}</p>
        <p>{{ form.submit() }}</p>
    </form><br>
    <a href="/register">Registrieren</a>
</body>
</html>
